
.intro {
  text-align : center;
  padding-top: 80px;
  padding-bottom: 20px;
  font-family : arial;
}

.intro h1 {
  padding-top : 50px;
  padding-bottom : 50px;

}

.header {
  padding-bottom : 20px;
  padding-top : 20px;
  position : fixed;
  top : 0px;
  left : 20px;
  width : 100%;
}

.survey {
  margin : auto;
  display : flex;
  align-items : center;
}

.btn-result {
    text-align : center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    padding: 50px 0px;
    bottom : 20px;
}

.result {
  text-align : center;
}
